.Hero {
    background-image: url('/assets/homepage_hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Hero h1{
    font-size: 6vw;
    color: $fontColorSecond;
}

.Hero h1 span{
    border-bottom: 10px solid $primaryColor;
}

.Hero .headline {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 720px) {
    .Hero h1 {
        font-size: 7vw;
    }
    .Hero h1 span {
        border-bottom: 5px solid $primaryColor;
    }


}
@media screen and (min-width: 1200px) {
     .Hero h1 {
         font-size: 72px;
     }

}